<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Welcome</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<style type="text/css">
		html, body 
	{
		background-color: #6495ED;
	}
	#content
	{
		text-align: center;
		text-shadow: 2px 2px black;
		font-family: myFirstFont;
		font-size: 300%;
	}
	#intro
	{
		font-size: 300%;
	}
	</style>
</head>

<body>
	<div id="header">
    <div class="full-size">
      <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <img class="img-responsive" src="img/logo.svg" alt="Website Logo" height="15%" width="15%" >
        </div>
        <div class="navbar-collapse collapse" id="main-menu">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost:3000/register"><strong>REGISTER</strong></a></li>
            <li class="active"><a href="http://192.168.43.5:3000/home"><strong>SIGN IN</strong></a></li>
            <li><a href="http://192.168.43.5:3000/home" id="sign_out"><strong>SIGN OUT</strong></a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div id="content">
  	 <h1 id="intro">WELCOME BACK</h1>
     <p>User Name: <%=name%></p>
     <p>Role: <%=role%></p>
     <a href="http://192.168.43.5:3000/"><button>GO</button></a>
  </div>
</body>